<section class="page">

  <div data-key="65" class="pad">
    <kbd>A</kbd>
    <span>KicK</span>
  </div>

  <div data-key="68" class="pad">
    <kbd>D</kbd>
    <span>SnaRe</span>
  </div>

  <div data-key="72" class="pad">
    <kbd>H</kbd>
    <span>Hi-HaTs</span>
  </div>

</section>

<%= audio_tag("kick11.wav", 'data-key': "65", preload: 'auto' ) %>
<%= audio_tag("clap11.wav", 'data-key': "68", preload: 'auto' ) %>
<%= audio_tag("hh11.wav", 'data-key': "72", preload: 'auto' ) %>