<div class="page">

  <div data-key="65" class="pad playing">
    <kbd>A</kbd>
    <span>| KicK</span>
  </div>

  <div data-key="68" class="pad">
    <kbd>D</kbd>
    <span>| SnaRe</span>
  </div>

  <div data-key="96" class="pad">Hi-HaTs</div>

</div>

<audio data-key="65" src="kick.wav"></audio>