// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .pad {
    border: 3px solid rgba(255, 255, 255, 0.836);
    background-color: rgba(0, 0, 0, 0.384);
    margin: 111px;
    padding: 111px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 22px;
  }

}